
.body{
    background-color: oldlace;
    font-family: 'Courier New', Courier, monospace;
}

.h1{
    background-color: indigo;
}
.h2{
    background-color: red;
}
.h3{
    background-color: burlywood;
}
.p{position: relative;
  background-color: grey;
  border: black;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15rem;
}
.header{
    padding: 30rem;
    text-align: center;
    font-size: 30px;
    background-color: inherit;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: gray;
}
@media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
