
.body{
    background-color: oldlace;
    font-family: 'Courier New', Courier, monospace;
}

.h2{
    background-color: indigo;
}
.h3{
    background-color: red;
}
.h4{
    background-color: burlywood;
}
.p{position: relative;
  background-color: grey;
  border: black;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15rem;
}
.header{
    padding: 10rem;
    text-align: center;
    font-size: 30px;
    background-color: lightgray;
    background-size: 10rem;
    padding: 0rem;
    display: block;
}
.header2 > h2{
    padding: 3rem;
    text-align: center;
    font-size: 30px;
    background-color: inherit;
    display: block;
    float:right, top;
}
.header3 > h3{
    padding: 3rem;
    text-align: center;
    font-size: 30px;
    background-color: inherit;
    display: block;
    float:right, top;
}
.header4 > h4{
    padding: 3rem;
    position: relative;
    bottom: 5px;
    left: 5px;
    font-size: 30px;
    background-color: inherit;                                                                                         
    display: block;
    float:right, top;
}
.column {
    float: left;
    width: 33%; /* I need to make this use the g rid system to responsively change based on screen size */
    padding: 10px;
    background-color: gray;
    border-radius: 4px;
    border-color: black;
    margin: 30px;
}
@media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
