


h1{
    background-color: indigo;
}
h2{
    background-color: red;
}
h3{
    background-color: burlywood;
}
p{position: relative;
  background-color: grey;
  border: black;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15rem;

}